<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pythonisa Store</title>
    <link rel="shortcut icon" href="favicon.ico" type="Image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>

    {% include 'layout/header.html' %}

    <div>

    <main class="login">

        <h1>Inicia Sesión</h1>

        <form id="formLogin" class="form-login" action="/login" method="POST">

          <label for="usuario">Usuario:</label>
          <input type="text" id="usuario" name="usuario" value="" placeholder="Usuario">
          
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="contraseña" value="" placeholder="Contraseña">

          <input class="buttons" type="submit" name="" value="Iniciar Sesión">

        </form>

      </main>

</div>

<!--Pie de la Pagina-->
<footer class="footer">
  <div class="footer_container">
    <div class="footer_link">
      <h3>Siguenos:</h3>
        <div class="redes">
          
          <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
            integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
            crossorigin="anonymous"
          ></script>
          <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://x.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="https://maps.google.com/" target="_blank"><i class="fa-brands fab fa-google-plus-g"></i></a>
          <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <hr />
    <div class="footer_text">
      <p>Politica de Privacidad</p>
      <p>Todos los Derechos Reservados</p>
    </div>
  </div>
</footer>

<script src="./assets/js/contactanos.js"></script>

</body>

</html>