<header class="header">
    <nav class="navbar">
        <a href="index.html">
        </a>
        <input type="checkbox" id="menu_hamburguesa" />
        <label for="menu_hamburguesa" class="abrir_menu">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
            </svg>
        </label>
        <label id="cubrir" for="menu_hamburguesa"></label>
        <div class="links_menu">
            <label for="menu_hamburguesa" class="cerrar_menu">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </label>
            <div>
                <img class="logo" src="./assets/icon/logo1.png" alt="logo pythonisa store">
            </div>
            <a class="inicio" href="./index.html">
                <h1>Pythonisa Store</h1>
            </a>
            <a href="/">
                <h3>Inicio</h3>
            </a>
            <a href="nosotros">
                <h3>Nosotros</h3>
            </a>
            <a href="productos">
                <h3>Productos</h3>
            </a>
            <a href="contactanos">
                <h3>Contactanos</h3>
            </a>
            <a href="login">
                <h3>Login</h3>
            </a>
        </div>
    </nav>
</header>